__pycache__
*.py[co]
/*.egg-info
/build
/dist
/.eggs
*.sqlite3
*.sqlite
/.mypy_cache
*.py,cover
/.coverage
/rspec.xml
/monkeytype.sqlite3
/*.srctrldb
/*.srctrlbm
/*.srctrlprj
/gpgme_home
/downloads
/brad.gpg
